body {
    background-color:lightblue;
    font-family: Arial, sans-serif;
    text-align:center;
}
form {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: green;
    color:white;
    cursor:pointer;
}
input[type="reset"]{
    background-color:lightcoral;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="reset"]:hover {
    background-color: red;
    color:white;
    cursor:pointer;
}
